In [1]:
import mysql.connector

In [11]:
board = []
for i in range(3):
    row = []
    for j in range(3):
        row.append('X')
    board.append(row)

In [18]:
test = [[' ' for i in range(3)] for j in range(3)]
print(test)

[[' ', ' ', ' '], [' ', ' ', ' '], [' ', ' ', ' ']]

In [12]:
print(board)

[['X', 'X', 'X'], ['X', 'X', 'X'], ['X', 'X', 'X']]

In [2]:
def display_board(board):
    for i in board:
        print('| ', end = '')
        print(*i,sep = ' | ', end = '')
        print(' |')

In [14]:
display_board(board)

| X | X | X |
| X | X | X |
| X | X | X |

In [3]:
def check_row(board, player):
    for i in board:
        if i.count(player) == 3:
            return True
    return False

In [4]:
def check_columns(board, player):
    for i in range(3):
        if board[0][i] == board[1][i] == board[2][i] == player:
            return True
    return False

In [5]:
def check_diagonals(board, player):
    if board[0][0] == board[1][1] == board[2][2] == player:
        return True
    elif board[0][2] == board[1][1] == board[2][0] == player:
        return True
    return False

In [6]:
def insert_winner(player_name):
    mydb = mysql.connector.connect(
    user="root",
    password="260600",
    database="tttscores"
    )

    mycursor = mydb.cursor()
    sql = "INSERT INTO score (name, wins) VALUES (%s, %s)"
    val = (player_name, "1")
    mycursor.execute(sql, val)

    mydb.commit()
    print('The winner was inserted into the database')

In [7]:
def display_leaderboard():
    mydb = mysql.connector.connect(
    user="root",
    password="260600",
    database="tttscores"
    )

    mycursor = mydb.cursor()

    mycursor.execute("select name, count(*) as c FROM score GROUP BY name ORDER BY c DESC")

    myresult = mycursor.fetchall()
    print('Ranking | Player name | Score')
    i = 1
    for x in myresult:
        print('{0:^8d}|{1:^13s}| {2:<d}'.format(i,x[0],x[1]))
        i += 1

In [8]:
def main():
    board = [[' ' for i in range(3)] for j in range(3)]
    players = ['X','O'] 
    name_x = input('Player X enter name: ')
    name_o = input('Player O enter name: ')
    player_names = [name_x, name_o]
    player = 0
    while True:
        print('Player',players[player],"'s turn")
        row,column = input('Enter the row and column separated by the space: ').split()
        row = int(row)
        column = int(column)
        board[row - 1][column - 1] = players[player]
        display_board(board) 
        flat_board = [j for i in board for j in i ] 
    
        if check_row(board,players[player]) or check_columns(board,players[player]) or check_diagonals(board,players[player]):
            print('Player',players[player],'wins!' )
            insert_winner(player_names[player])
            display_leaderboard()
            break
        elif ' ' not in flat_board:
            print('Game is draw')
            display_leaderboard()
            break
        if player == 0:
            player = 1
        else:
            player = 0

In [9]:
main()

Player X 's turn
| X |   |   |
|   |   |   |
|   |   |   |
Player O 's turn
| X | O |   |
|   |   |   |
|   |   |   |
Player X 's turn
| X | O | X |
|   |   |   |
|   |   |   |
Player O 's turn
| X | O | X |
|   | O |   |
|   |   |   |
Player X 's turn
| X | O | X |
|   | O | X |
|   |   |   |
Player O 's turn
| X | O | X |
|   | O | X |
|   | O |   |
Player O wins!
The winner was inserted into the database
Ranking | Player name | Score
   1    |     Sam     | 3
   2    |    John     | 2
   3    |    Mike     | 1
   4    |     Ana     | 1

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
  host="remotemysql.com",
  port = 3306,
  user="3W3BHT4RDU",
  password="6TIVjzhcme"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE tttscores")

ProgrammingError: 1045 (28000): Access denied for user '3W3BHT4RDU'@'188.255.153.94' (using password: YES)

In [16]:
mydb = mysql.connector.connect(
  host="remotemysql.com",
  port = 3306,
  user="3W3BHT4RDU",
  password="6TlVjzhCme",
  database="3W3BHT4RDU"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE score (name VARCHAR(255), wins INT(7))")

In [1]:
sql = "INSERT INTO score (name, wins) VALUES (%s, %s)"
val = ("Sam", "1")
mycursor.execute(sql, val)

mydb.commit()

NameError: name 'mycursor' is not defined

In [13]:
mycursor.execute("SELECT * FROM score")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 1)
('John', 1)
('Mike', 1)
('Sam', 1)
('Sam', 1)
('Sam', 1)

In [18]:
mycursor.execute("select name, count(*) as c FROM score GROUP BY name ORDER BY c DESC")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Sam', 3)
('John', 2)
('Mike', 1)

In [2]:
try:
    7/0
except:
    print('error')

error

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
  host="remotemysql.com",
  port = 3306,
  user="3W3BHT4RDU",
  password="6TlVjzhCme",
  database="3W3BHT4RDU"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE users (username VARCHAR(255), password VARCHAR(255))")

In [8]:
sql = "INSERT INTO users (username, password) VALUES (%s, %s)"
val = ("Ana", "123!")
mycursor.execute(sql, val)

mydb.commit()

In [11]:
def registration():
  mydb = mysql.connector.connect(
    host="remotemysql.com",
    port = 3306,
    user="3W3BHT4RDU",
    password="6TlVjzhCme",
    database="3W3BHT4RDU"
  )

  mycursor = mydb.cursor()

  mycursor.execute("SELECT * FROM users")

  myresult = mycursor.fetchall()
  while True:
    username = input('Enter username: ')
    password = input('Enter password: ')
    users = [i[0] for i in myresult]
    if username in users:
        print('The username is already taken try diffrent one.')
    else:
        sql = "INSERT INTO users (username, password) VALUES (%s, %s)"
        val = (username, password)
        mycursor.execute(sql, val)

        mydb.commit()
        print('Registration successful!')
        break
  return username

Registration successful!

In [14]:
def login():

    mydb = mysql.connector.connect(
    host="remotemysql.com",
    port = 3306,
    user="3W3BHT4RDU",
    password="6TlVjzhCme",
    database="3W3BHT4RDU"
    )

    mycursor = mydb.cursor()

    mycursor.execute("SELECT * FROM users")

    myresult = mycursor.fetchall()

    while True:
        username = input('Enter username: ')
        password = input('Enter password: ')
        found = False

        for user, pwd in myresult:
            if user == username and pwd == password:
                print('Login successful!')
                found = True
                break
        if not found:
            print("Incorrect. Try again!")
        else:
            break
    return username

Incorrect. Try again!
Login successful!